aiofiles
aiohttp
aioshutil
bs4
capsolver
curl_cffi
httpx
gunicorn
flask
lxml
motor
pymongo==4.8.0
psutil
python-dotenv
pycryptodome
pytz
pyrofork
requests>=2.32.0
telegraph
tgcrypto
uvloop
zenrows
six>=1.16.0
